<footer class="footer">
<div class="container"> <!-- Container -->
<div class="row"><!-- Row-1 -->

	     <div class="col-sm-3 text-left line ">
		 <div class="widget">
					<ul class="list ">
					    <h6 style="color:white; margin-bottom:15px;">INFORMATION</h6>
						<li><a href="#">About Us</a></li>
						<li><a href="#">What We Do</a></li>
						<li><a href="#">Our Team</a></li>
					</ul>
	       	</div>





	  	</div>


		 <div class="col-sm-3 text-left ">
		 <div class="widget">
					<ul class="list ">
					    <h6 style="color:white; margin-bottom:15px;">OUR SERVICES</h6>
						<li><a href="#">Managed Security</a></li>
						<li><a href="#">Application Security Testing </a></li>
						<li><a href="#">Server Security Testing </a></li>

					</ul>
	     	</div>
	  	</div>


		 <div class="col-sm-3 text-left ">
		 <div class="widget">
					<ul class="list ">
					    <h6 style="color:white; margin-bottom:15px;">INDUSTRY</h6>
						<li><a href="#">Education</a></li>
						<li><a href="#">Financial Services </a></li>
						<li><a href="#">Health Care </a></li>

					</ul>
	     	</div>
	  	</div>


	 <div class="col-sm-3 text-left ">
	 <div class="widget">
	 <h6 style="color:white; margin-bottom:15px;">ADDRESS </h6>
	 <a href="#" style="margin-left:-16px;"> <img src="../../../../../assets/hr.png"> </a>
	 <div id="contact" style="margin-top:20px;">
	     <p>d-16</p>
	     <p>Sector-22,Gurgaon</p>
	     <p>122016</p>
	     <p>info@hackerrank.com</p>
	 </div>
	 </div>
	 </div>

</div><!-- Row-1 -->


<div class="row"> <!-- Row-2 -->

     <div class="col-sm-5 ">
     <div class="widget-2">
     <p style="color:white;">Copyright © 2017  hackerrank. Pvt. Ltd, Inc.

</p>
	 </div>
	 </div>
</div> <!-- Row-2 -->


</div>	<!-- Container -->
</footer>
